*, *::before, *::after {
    box-sizing: border-box;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    border: 2px;
}

body {
    padding: 0;
    margin: 0;
    background-position: center;
    background-color: greenyellow 

}

.calculator-grid {
    display: grid;
    padding: 20px;
    margin: 2% 30% 2% 30%;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    column-gap: 8px;
    row-gap: 8px;
    border: 10px solid yellow;
    background-color: blue;
    border-radius: 20px
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 6px solid white;
    outline: none;
    border-radius: 20px;
}

.calculator-grid > button:hover {
    opacity: .75
    /* background-color: rgba(255, 255, 255, .8); */
}
[data-number] {
    background-color: rgba(255, 255, 255, .6);
}

[data-operation] {
background-color: rgba(54, 216, 97, 0.8);
}

[data-equals] {
    background-color: rgba(217, 24, 227, 0.6);
}

[data-delete] {
    background-color: rgba(227, 24, 24, 0.6);
    color: white;
}

[data-all-clear] {
    background-color: rgba(227, 24, 24, 0.6);
    color: white;
}

.span-two {
    grid-column: span 2;
}
.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex; 
    align-items: end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 20px;
    border: 6px solid white;
}

.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}
.output .current-operand {
    color: white;
    font-size: 2.5rem;
}
